

.topnav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    width:100%;
    justify-content: flex-end;
    gap:20px;
   
}
.topnav li{
    padding: 0;
    margin: 0;
}



.topnav {
    display: flex;
    justify-content: center;
    background-color: #6101df;
    overflow: hidden;
    width:100%;  
    font-size: 2rem;
    }
    

.topnav a {
    float: right;
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding:20px; 
    transition: 0.3s;
  }
  
  /* Change the color of links on hover */
    .topnav a:hover {
    background-color:#b87aff;
    color:azure;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  p{
    font-size: 1.5rem;
    padding-left:25px;
  }

